* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #60a5fa;
}

::selection {
    color: white;
    background: #60a5fa;
}

ol:before {
    content: 'Ingredients';
    font-weight: bold;

    background-color: white;
    z-index: 50;
    margin: 0;
    padding-right: 12rem;
    width: 100%;
}

ol {
    list-style: disc;
}

nav li {
    list-style: none;
}

li {
    margin-left: 1.5rem;
    list-style-type: disc;
}

#recipeContentCardEl {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#recipeCardContainerRight {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/* container for recipe label, image, and cuisine type */
#recipeCardContainerLeft {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: white;
    width: 100%;
    overflow-x: hidden;
    border-radius: 6px;
}

/* wrapper for left and right side of grid layout */
#recipeCardWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

#recipe-search-btn {
    margin-top: 0.5rem;
}

#recipe-image {
    height: auto;
    width: 18rem;
    border-radius: 4px;
    margin: 1rem 0;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

#recipeLabel {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin: 0.5rem 0;
    background-color: #f5f5f5;
    width: max-content;
    max-width: 18rem;
    padding: 0.5rem;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 1px;
    font-weight: 600;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

#dietTagsContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* diet tags e.g. 'low-carb' */
#diet-tag-item {
    margin-left: 0;
    list-style: none;
    padding: 0.5rem;
    background-color: #60a5fa;
    color: white;
    border-radius: 4px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#recipeCaloriesEl {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 6px;
}

#recipeCaloriesEl:hover {
    background-color: #f5f5f4;
}

#recipeCaloriesEl::before {
    display: flex;
    font-weight: bold;
    content: 'Calories: ';
}

#cuisineType {
    background-color: #4ade80;
    padding: 0.5rem;
    margin-top: 0.5rem;
    text-transform: capitalize;
    border-radius: 4px;
    width: max-content;
}

#instructionsURL:before {
    content: 'Instructions';
    color: blue;
    border-bottom: 1px solid blue;
}

#instructionsURL:hover {
    opacity: 55%;
}

#ingredientsContainer {
    overflow-x: auto;
    width: 90%;
}

#ingredientItem {
    padding: 0.2rem;
    border-radius: 6px;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 1px;
    line-height: 2.5rem;
}

#ingredientItem:hover {
    background-color: #f5f5f4;
}

#dishType:before {
    content: 'Dish type: ';
    font-weight: bold;
    color: black;
    display: block;
}

#dishType {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 1rem;
    justify-content: center;
    width: max-content;
    border-radius: 4px;
    color: black;
    text-transform: capitalize;
}

#dishType:hover {
    background-color: #f5f5f4;
}

#servingsAmount:before {
    content: 'Servings:';
    font-weight: bold;
    color: black;
    display: block;
}

#servingsAmount {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* padding: .5rem; */
    width: max-content;
    border-radius: 4px;
    color: black;
    text-transform: capitalize;
}

#servingsAmount:hover {
    background-color: #f5f5f4;
}

#nutritionalFactsContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    gap: 1rem;
}

#nutritionalFactsContainer li {
    list-style: none;
    padding: 0.5rem;
    background-color: #fafaf9;
    margin: 0.5rem 0;
    border-radius: 4px;
    width: max-content;
}

#nutritionalFactsContainer li:hover {
    background-color: #f5f5f4;
}

@media (min-width: 850px) {

    #recipe-content-card {
        width: 50rem;
    }

    #recipeCardWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 50vw;
    }

    #recipeContentCardEl {
        padding: 0 1rem;
    }

    #recipeCardContainerLeft {
        width: 18rem;
        padding-bottom: 2rem;
    }

    #recipeCardContainerRight {
        justify-content: start;
        align-items: center;
        margin: 5rem 1rem;
    }

    #ingredientsContainer {
        margin-top: 6rem;
    }

    #recipe-image {
        width: 18rem;
    }

    #dietTagsContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    #diet-tag-item {
        margin-top: 0.5rem;
    }

    #dishType {
        padding: 0.5rem;
        align-items: center;
    }

    #recipeCaloriesEl {
        align-items: flex-start;
    }

    #servingsAmount {
        margin: 1rem 0;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
    }

    #nutritionalFactsContainer {
        display: grid;
        grid-template-columns: 1fr;
        width: fit-content;
        /* justify-items: center; */
    }
}

@media (min-width: 1180px) {

    #recipeCardWrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 50vw;
    }

    #ingredientsContainer {
        overflow-x: hidden;
        width: 100%;
    }
}