* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ol:before {
    content: "Ingredients";
    font-weight: bold;
}

ol {
    list-style: disc;
}

nav li {
    list-style: none;
}

li {
    margin-left: 1.5rem;
    list-style-type: disc;
}

#recipeContentCardEl {
    display: flex;
    flex-direction: column;

    width: 100%;
}

#recipeCardContainerLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 100%;
    overflow-x: hidden;

    border-radius: 6px;
}


#recipeCardWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
}

#recipe-search-btn {
    margin-top: 0.5rem;
}

#recipe-image {
    height: auto;
    width: 18rem;
    border-radius: 4px;
    margin: 1rem 0;
}

#recipeLabel {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin: 0.5rem 0;
    background-color: #e2e8f0;
    width: max-content;
    max-width: 18rem;
    padding: .5rem;
}

#recipeCaloriesEl {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#recipeCaloriesEl::before {
    display: flex;
    font-weight: bold;
    content: 'Calories: ';
}

#cuisineType {
    background-color: #4ade80;
    padding: 0.5rem;
    text-transform: capitalize;
    border-radius: 4px;
    width: max-content;
}

@media (min-width: 900px) {
    #recipeCardWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #recipeContentCardEl {
        padding: 0 1rem;
    }

    #recipeCardContainer {}

    #recipeCardContainerLeft {
        width: 24rem;
        padding-bottom: 2rem;
    }

    #recipe-image {
        width: 18rem;
    }
}